/* 헤더 */

/* 로그인바 */
.loginBar {
  background: var(--color-gray-100);
}

.loginBar__list {
  width: 102rem;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;

  list-style: none;

  padding: 0.5rem 0.4rem;
}

.loginBar__item:nth-child(n + 4) {
  order: -1;
}

.loginBar__item:first-child {
  margin-left: auto;
}

.loginBar__link {
  display: block;
  padding: 0.5rem 0.4rem;
  font-size: 1.2rem;
  line-height: 1.2;
}

/* 헤더 inner */

.header__inner {
  width: 102rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto 24.6rem 1fr auto auto;
  grid-template-rows: 7.4rem 4.2rem;
  grid-template-areas:
    'buttonCategory brand searchForm myCoupang cart'
    'buttonCategory typeNavigation typeNavigation myCoupang cart';
}

/* 로고 */
.brand {
  grid-area: brand;
  margin: 0;
  align-self: end;
  padding-left: 4rem;
  padding-right: 3rem;
}

.brand__link {
  display: block;
}
.logo {
  height: 4rem;
}
.logo--ir {
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: contain;
}
.logo--colorful {
  background-image: url('../../assets/logo/logo.svg');
}

/* 카테고리 버튼 */
.button--category {
  grid-area: buttonCategory;
  border: 0;
  padding: 4.2rem 0 0 0;
  font-size: 1.2rem;
  line-height: 1.2;
  color: var(--color-white);
  width: 11rem;
  height: 11.6rem;
  background: var(--color-blue-600) url('../../assets/icon/hamburger.svg')
    no-repeat 50% 3rem;
}

/* 검색 폼 */
.searchForm {
  grid-area: searchForm;
  align-self: end;
}

.searchForm fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.searchForm__wrapper {
  height: 4rem;
  border: 2px solid var(--color-blue-600);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.formSelect {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100%;
}

.formSelect__select {
  appearance: none;
  border: 0;
  width: 13.5rem;
  height: 100%;
  font-size: 1.2rem;
  line-height: 1.2;
  color: var(--color-gray-700);
  padding-left: 1.2rem;
}

.formSelect .iconDown {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY((-50%));
  pointer-events: none;
}

.formInput {
  flex-grow: 1;
  height: 100%;
}

.formInput__input {
  border: 0;
  width: 100%;
  height: 100%;
  padding: 1.3rem 1rem;
}

.formInput__input::placeholder {
  font-size: 1.2rem;
  line-height: 1.2;
  color: var(--color-gray-700);
}

.button--search,
.button--voiceSearch {
  border: 0;
  padding: 0;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.button--search {
  border: 0;
  padding: 0;
  order: 1;
  width: 3rem;
  height: 3rem;
  background: url('../../assets/icon/search.svg');
}

.button--voiceSearch {
  border: 0;
  padding: 0;
  width: 3rem;
  height: 3rem;
  background: url('../../assets/icon/mic.svg');
}
/* 마이쿠팡 영역 */
.myCoupang {
  grid-area: myCoupang;
  margin-left: 0.6rem;
  font-size: 1.2rem;
  line-height: 1.2;

  position: relative;
  align-self: center;
}

.myCoupang__list::before,
.myCoupang__list::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.myCoupang__list::before {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid var(--color-gray-500);
  top: -0.8rem;
}

.myCoupang__list::after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid var(--color-white);
  top: -0.7rem;
}

.button {
  border: 0;
  cursor: pointer;
  user-select: none;
  color: inherit;
  background-color: transparent;
}

.button--myCoupang {
  width: 5rem;
  height: 6rem;
  background: transparent url('../../assets/icon/my-coupang.svg') no-repeat 50%
    0.5rem;
  padding: 3rem 0 0;
}

.myCoupang__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  background-color: var(--color-white);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: none;
  flex-flow: column nowrap;

  border: 1px solid var(--color-gray-300);
  padding: 2rem 1.6rem;
}
.is--active .myCoupang__list {
  display: flex;
}

.myCoupang__item {
  margin: 0.2rem 0;
}
.myCoupang__link {
  white-space: nowrap;
  display: block;
  padding: 0.4rem;
}

/* 장바구니 영역 */
.cart {
  grid-area: cart;
  align-self: center;
  font-size: 1.2rem;
  line-height: 1.2;
  margin-left: 0.6rem;
  position: relative;
}
.cart__buttonWrapper {
  position: relative;
}

.button--cart {
  width: 5rem;
  height: 6rem;
  padding: 3rem 0 0;
  background: transparent url('../../assets/icon/cart.svg') no-repeat 50% 0.5rem;
}
.cartProductCount {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--color-blue-600);
  color: var(--color-white);

  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  text-align: center;
}

.cart__detail {
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
}

.cart--empty .cart__detail {
  display: block;
}

.cart__detail::before,
.cart__detail::after {
  content: '';
  position: absolute;
}

.cart__detail::before {
  top: -0.8rem;
  right: 1.8rem;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid var(--color-gray-500);
}

.cart__detail::after {
  top: -0.7rem;
  right: 1.9rem;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid var(--color-white);
}
.cart__empty {
  white-space: nowrap;
  padding: 3.6rem 4.6rem;
}
/* 유형별 링크 목록 */
.typeNavigation {
  grid-area: typeNavigation;

  align-self: center;
}

.typeNavigation__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  font-size: 0;
  margin: 0 0 0 3.6rem;
}

.typeNavigation__item {
  display: inline-block;
  margin-left: 0.2rem;
}

.typeNavigation__item:first-child {
  margin-left: 0;
}

.typeNavigation__link {
  font-size: 1.2rem;
  line-height: 1.2;
  display: inline-block;
  padding: 0.6rem 1.4rem;
}

.badge--rocket {
  margin-left: 0.4rem;
}
.badge--new {
  margin-left: 0.4rem;
}
