/* 헤더 */
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
.loginBar {
  display: flex;
  align-items: center;
  margin: 0px;
  height: 34px;
  padding: 0px 100px;
  background-color: var(--color-gray-100);
  font-size: 12px;
}
.loginBar-list {
  list-style: none;
  cursor: pointer;
}
.loginBar-list:nth-child(1) {
  margin-left: auto;
  margin-right: 8px;
  order: 3;
}
.loginBar-list:nth-child(2) {
  margin-right: 8px;
  order: 4;
}
.loginBar-list:nth-child(3) {
  order: 5;
}
.loginBar-list:nth-child(4) {
  margin-right: 8px;
  order: 1;
}
.loginBar-list:nth-child(5) {
  order: 2;
}
.header {
  display: grid;
  grid-template-columns: repeat(17, 55px);
  grid-template-rows: repeat(4, 30px);
  gap: 3px;
  justify-content: center;
}
.button--category {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  margin: auto;
  width: 110px;
  height: 116px;
  padding: 50px 0px 0px 0px;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-white);
  border: none;

  background-color: var(--color-blue-600);
  background-image: url('../../assets/icon/hamburger.svg');
  background-size: 30px 30px;
  background-position: 40px 30px;
  background-repeat: no-repeat;
}

.logo {
  display: inline-block;
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 2;
  margin: auto;
  width: 176px;
  height: 40px;
  background-image: url('../../assets/logo/logo.svg');
  background-size: cover;
}

.typeNavi {
  grid-column-start: 4;
  grid-row-start: 4;
  margin: auto;

  display: flex;
}

.hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.form {
  grid-column-start: 7;
  grid-row-start: 2;
  margin: auto;
  display: flex;
  width: fit-content;
  height: 40px;
  border: 1px solid var(--color-blue-600);
}
.form-select {
  border: none;
  background-color: transparent;
  width: 135px;
  height: 40px;
  appearance: none;
}
.form-select::after {
  content: url('../../assets/favicon/');
}
.form-input {
  border: none;
  background-color: transparent;
  width: 301px;
  height: 40px;
}

.form-select:focus,
.form-input:focus {
  outline: none;
}
.form-btn {
  padding: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}
.mic {
  background-image: url('../../assets/icon/mic.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center center;
}
.search {
  background-image: url('../../assets/icon/search.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center center;
}
.myCoupang {
  grid-column-start: 16;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: fit-content;
}

.myCoupang-btn {
  border: none;
  background-color: transparent;
  background-image: url('../../assets/icon/my-coupang.svg');
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center center;
  padding: 50px 0px 0px 0px;

  height: fit-content;
  width: 80px;

  font-size: 12px;
  margin-bottom: 10px;
}
.myCoupang-lists {
  display: none;
  position: relative;
  font-size: 12px;
  padding: 10px;
  border: 1px solid var(--color-gray-400);
}
.is--active > ul {
  display: block;
}

.myCoupang-lists::after {
  position: absolute;
  top: -6px;
  left: 30px;
  content: ' ';
  width: 10px;
  height: 10px;
  border-top: 1px solid var(--color-gray-400);
  border-right: 1px solid var(--color-gray-400);
  background-color: white;
  transform: rotate(315deg);
}

.myCoupang-list {
  margin-bottom: 10px;
}
.myCoupang-list:last-child {
  margin-bottom: 0px;
}

.cart {
  grid-column-start: 17;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}
.cart-btn {
  position: relative;
  border: none;
  background-color: transparent;
  background-image: url('../../assets/icon/cart.svg');
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center 16%;
  padding: 43px 0px 0px 0px;

  height: fit-content;
  width: 80px;

  font-size: 12px;
  margin-left: auto;
  margin-bottom: 10px;
}

.cart-incase {
  display: none;
  position: relative;
  width: 300px;
  height: 100px;
  border: 1px solid var(--color-gray-400);
}

.cart-num {
  position: absolute;
  top: 5px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-blue-600);
  color: var(--color-white);
  width: 17px;
  height: 17px;
  font-size: 12px;
}
.cart-incase::after {
  position: absolute;
  top: -5px;
  right: 30px;
  content: ' ';
  width: 10px;
  height: 10px;
  border-top: 1px solid var(--color-gray-400);
  border-right: 1px solid var(--color-gray-400);
  background-color: white;
  transform: rotate(315deg);
}
.cart-incase-span {
  text-align: center;
}
.cart--empty > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.typeNavi {
  width: 755px;
  height: 28px;
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.typeNavi-item {
  display: flex;
  align-items: center;
}
.typeNavi-item > img {
  width: 14px;
  height: 14px;
  margin: 0px 3px;
}
